@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p,
b {
  font-size: 10px;
  @media only screen and (min-width: 600px) {
    font-size: 12px;
  }
}

h1 {
  font-size: 16px;
  font-weight: bold;

  @media only screen and (min-width: 600px) {
    font-size: 18px;
  }
}

h2 {
  font-size: 14px;
  font-weight: bold;

  @media only screen and (min-width: 600px) {
    font-size: 16px;
  }
}

h3 {
  font-size: 12px;
  font-weight: bold;

  @media only screen and (min-width: 600px) {
    font-size: 14px;
  }
}
